:root {
  --orange: #FFC248;
  --blue: #5251FA;
}
.App {
  /* text-align: center; */
  background-image: url('./assests/images/bg.png');
  background-repeat: no-repeat;
  background-size: auto;
  background-attachment: fixed;
  background-position: right bottom;
  background-size: 50%;
  /* position: absolute;
  top:0;
  left:0; */
  /* border:2px solid red; */
  display: flex;
  font-size: 12px;
  /* flex-direction: column; */
  /* width: 100%; */
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

/* COMMON STYLES  START */
.flx-rsc{
  display: flex;
  /* justify-content: center; */
  align-items: center;
}
.flx-rcc{
  display: flex;
  justify-content: center;
  align-items: center;
}
.flx-rsbc{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.flx-rec{
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.flx-ccc{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* COMMON STYLES  END */

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  /* background-color: #282c34; */
  background-color: #F6F6F6;
  min-height: 100vh;
  display: inline-block;
  /* display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; */
  font-size: calc(10px + 2vmin);
  color: #452F02;
  /* overflow: hidden; */
}

.App-body{
  display:flex;
  justify-content: center;
  /* flex-direction: column; */
  /* border: 2px solid brown; */
  width: 100%;
  padding-left: 5rem;
  /* justify-content: stretch */
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
